.container {
	width 100%;
	height: 1000px;
	position: relative;
}
nav {
	background-color: #333333;
	height: 30px;
}
li {
	list-style: none;
	display: inline-block;
	float: right;
}

li a {
	text-decoration:none;
	font-family: arial;
	color: #ABABAB;
	float: left;
	padding: 5px;
	font-size: 13px;
	margin-top: 2px;
	margin-right: 13px;
}
img {
	display:block;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;

}
#main {
	display:block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.search {
	position: relative;
	margin: 10px auto;
	display: block;
}
* {
	border-width: 1px;
	border-color: #F00;
	border-style: inset;
}